/T01ListaDePersonas/nbproject/private/
/T01ListaDePersonas/build/
/03Serializacion/nbproject/private/
/ConexionBD/nbproject/private/
/ConexionBD/build/
/Modelo_Vista_Controlador_MVC/nbproject/private/
/Modelo_Vista_Controlador_MVC/build/
/07Sockets/nbproject/private/
/07Sockets/build/
/Sockets/nbproject/private/
/Sockets/build/
